<div class="container">
    <mat-form-field appearance="fill" [style.width.%]="100">
      <mat-label>Name</mat-label>
      <input matInput [(ngModel)]="customer.name">
    </mat-form-field>

    <mat-form-field appearance="fill" [style.width.%]="100">
      <mat-label>Phone</mat-label>
      <input matInput [(ngModel)]="customer.phone">
    </mat-form-field>

    <app-date-picker [label]="'Order Date'" [(value)]="customer.orderDate" (valueChange)="showValue($event)"></app-date-picker>

    <app-date-picker [label]="'Delivery Date'" [(value)]="customer.deliveryDate"></app-date-picker>

    <div align="end" class="head-tool-bar">
      <button mat-raised-button color="primary" (click)="onSave()" >Save</button>
      <button mat-raised-button class="ml-1" (click)="executeClose()" >Close</button>
    </div>
</div>